.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px; 
  margin: 0 auto;
}
  
.coming-soon {
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.coming-soon-image {
  max-width: 100px;
  margin-bottom: 10px;
}
