:root {
  --base-font-size: 1rem; 
}

@media (max-width: 600px) {
  :root {
    --base-font-size: 0.8rem; 
  }
  
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fbf7ff;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}
h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}
h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
body, p, span, a, .menu-item, .nav-text, .dropdown-header {
  font-size: var(--base-font-size);
}
